@import 'tailwindcss';
@import '@fontsource/hachi-maru-pop';

@layer base {
  html,
  body,
  #app {
    @apply h-dvh w-full overscroll-none;
  }

  @media (display-mode: standalone) {
    html,
    body,
    #app {
      @apply h-screen;
    }
  }

  body {
    @apply bg-linear-to-b from-pink-100 to-pink-200;
  }

  #app {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  button:focus,
  a:focus {
    @apply outline-none;
  }
}

@theme {
  --font-sans: 'Hachi Maru Pop';
  --radius: 0.5rem;
}
